{
	"extends": [
		"eslint:recommended",
		"plugin:react/recommended"
	],
	"settings": {
		"react": {
			"pragma": "React",
			"version": "detect"
		}
	},
	"env": {
		"browser": true,
		"commonjs": true,
		"node": true,
		"es6": true
	},
	"parser": "babel-eslint",
	"parserOptions": {
		"sourceType": "module",
		"allowImportExportEverywhere": false,
		"codeFrame": true
	},
	"rules": {
		"no-console": "off",
		"curly": "warn",
		"strict": 0
	}
}