<!DOCTYPE html>
	<html lang="ru">
	<head>
			<!-- Global site tag (gtag.js) - Google Analytics -->
			<script async src="https://www.googletagmanager.com/gtag/js?id=G-JPGH5VBB1Y"></script>
			<script>
				window.dataLayer = window.dataLayer || [];
				function gtag(){dataLayer.push(arguments);}
				gtag('js', new Date());

				gtag('config', 'G-JPGH5VBB1Y');
			</script>
		<meta charset="utf-8">
		<title>ToDo</title>
		<meta name="viewport" content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1.0, minimum-scale=1.0, user-scalable=no">
	</head>
	<body>
		<div id="root"></div>
	</body>
</html>